<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612950603465-7issd8u5jsib96rm1nc53t19mq6bl4tj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612950603465-7issd8u5jsib96rm1nc53t19mq6bl4tj</string>
	<key>API_KEY</key>
	<string>AIzaSyC7wJJO_dF3Hu2Q3XDEdkmMYL_lO5DDXkg</string>
	<key>GCM_SENDER_ID</key>
	<string>612950603465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erdoganturpcu.QRPayment</string>
	<key>PROJECT_ID</key>
	<string>qrpayment-ad93c</string>
	<key>STORAGE_BUCKET</key>
	<string>qrpayment-ad93c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612950603465:ios:03714e5b5eee45fd577f18</string>
</dict>
</plist>